In [141]:
import os
import string
import pandas as pd
import numpy as np
import datetime

from sklearn.preprocessing import OneHotEncoder
# set printing all columns
pd.set_option('display.max_columns', None)

In [192]:
#BPI12_dt = pd.read_csv("D:/Research in UAE/nextevent/data/BPI_Challenge_2012.csv")
BPI12_dt = pd.read_csv("D:/Research in UAE/nextevent/data/BPI17.csv")

In [193]:
#BPI117 set
BPI12_dt = BPI12_dt.drop(columns = ['FirstWithdrawalAmount', "NumberOfTerms", "Accepted", "MonthlyCost", "Selected", "CreditScore", "OfferedAmount", "OfferID"])

In [194]:
BPI12a = BPI12_dt.loc[BPI12_dt['concept:name'].str.startswith('A')].copy()
BPI12o = BPI12_dt.loc[BPI12_dt['concept:name'].str.startswith('O')].copy()
BPI12w = BPI12_dt.loc[BPI12_dt['concept:name'].str.startswith('W')].copy()

In [195]:
BPI12a.to_csv("D:/Research in UAE/nextevent/data/BPI_Challenge_2017A.csv", index = False)
BPI12o.to_csv("D:/Research in UAE/nextevent/data/BPI_Challenge_2017O.csv", index = False)
BPI12w.to_csv("D:/Research in UAE/nextevent/data/BPI_Challenge_2017W.csv", index = False)

In [196]:
BPI12_dt.head()

,Action,org:resource,concept:name,EventOrigin,EventID,lifecycle:transition,time:timestamp,case:LoanGoal,case:ApplicationType,case:concept:name,case:RequestedAmount
0,Created,User_1,A_Create Application,Application,Application_652823628,complete,2016-01-01 09:51:15.304000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0
1,statechange,User_1,A_Submitted,Application,ApplState_1582051990,complete,2016-01-01 09:51:15.352000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0
2,Created,User_1,W_Handle leads,Workflow,Workitem_1298499574,schedule,2016-01-01 09:51:15.774000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0
3,Deleted,User_1,W_Handle leads,Workflow,Workitem_1673366067,withdraw,2016-01-01 09:52:36.392000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0
4,Created,User_1,W_Complete application,Workflow,Workitem_1493664571,schedule,2016-01-01 09:52:36.403000+00:00,Existing loan takeover,New credit,Application_652823628,20000.0

In [170]:
BPI12_dt = BPI12_dt[BPI12_dt["lifecycle:transition"] == "COMPLETE"].reset_index(drop=True)

In [171]:
# First change NAN to preseve the orginal NAN as categorial in org:rescource
BPI12_dt = BPI12_dt.fillna('N')

In [172]:
# Sort by case and time to ensure the starts come before completes for the same event
BPI12_dt.sort_values(by=['case:concept:name', 'time:timestamp'], inplace=True)

In [173]:
# BPI12 set. Transform case:AMOUNT_REQ to integer 
if not BPI12_dt['case:AMOUNT_REQ'].isnull().any():
    BPI12_dt['case:AMOUNT_REQ'] = BPI12_dt['case:AMOUNT_REQ'].astype(int)

In [174]:
# Drop repeated rows and reset index
BPI12_dt = BPI12_dt.drop_duplicates().reset_index(drop=True)

In [179]:
BPI12_dt.head()

,org:resource,lifecycle:transition,full_concept:name,time:timestamp,case:REG_DATE,case:concept:name,case:AMOUNT_REQ,pre_concept:name,concept:name,event_label,event
0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A,SUBMITTED,AS,S
1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A,PARTLYSUBMITTED,AM,M
2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A,PREACCEPTED,AN,N
3,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,A,ACCEPTED,AA,A
4,10862.0,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243000+00:00,2011-10-01 00:38:44.546000+00:00,173688,20000,O,SELECTED,OP,P

In [176]:
# BPI12 and 17 set. Rename original concept:name and split for different set
BPI12_dt.rename(columns={'concept:name': 'full_concept:name'}, inplace=True)
BPI12_dt[['pre_concept:name', 'concept:name']] = BPI12_dt['full_concept:name'].str.split('_', n=1, expand=True)

In [177]:
activities = list(np.sort(BPI12_dt['concept:name'].unique()))
# Map each activity to an uppercase letter (A-Z)
activity_mapping = {activity: letter for activity, letter in zip(activities, string.ascii_uppercase)}

In [178]:
# Apply the mappings to create the new columns in 'bpi12_DT'
#BPI12/17 set
BPI12_dt['event_label'] = BPI12_dt['pre_concept:name'] + BPI12_dt['concept:name'].map(activity_mapping)
#BPI12_dt['event'] = BPI12_dt['concept:name'].map(activity_mapping)

In [122]:
transitions = list(np.sort(BPI12_dt['lifecycle:transition'].unique()))
cycle_mapping = {transition: letter for transition, letter in zip(transitions, string.ascii_lowercase)}

In [123]:
BPI12_dt['status'] = BPI12_dt['lifecycle:transition'].map(cycle_mapping)

In [124]:
#BPI12/17 set
BPI12_dt['event'] = BPI12_dt['event_label'] + BPI12_dt['status']

In [180]:
BPI12_dt['time:timestamp'] = pd.to_datetime(BPI12_dt['time:timestamp'], format='ISO8601').dt.strftime('%Y-%m-%d %H:%M:%S')

In [181]:
BPI12_dt.rename(columns={"time:timestamp": "time",
                         "case:concept:name": "sequence"}, 
                inplace=True)

In [97]:
# for helpdesk dataset
#BPI12_dt["extracted_index"] = BPI12_dt["case:variant"].str.extract(r'(\d+)').astype(int)
# Check if extracted index matches "case:variant-index"
#BPI12_dt["match"] = BPI12_dt["extracted_index"] == BPI12_dt["case:variant-index"]
# Check if all values match
#BPI12_dt["match"].all()

In [182]:
#BPI12_dt = BPI12_dt.drop(columns = ['lifecycle:transition', "concept:name"])
#BPI17set
#BPI12_dt = BPI12_dt.drop(columns = ['lifecycle:transition', "concept:name", 'pre_concept:name','full_concept:name'])
#BPI12set
BPI12_dt = BPI12_dt.drop(columns = ['lifecycle:transition', "concept:name", 'pre_concept:name','full_concept:name', "case:REG_DATE"])
#helpdesk set
#BPI12_dt = BPI12_dt.drop(columns = ['lifecycle:transition', "concept:name", "Activity", "Resource", "case:variant", "extracted_index", "match"])

In [183]:
BPI12_dt.head()

,org:resource,time,sequence,case:AMOUNT_REQ,event_label,event
0,112.0,2011-10-01 00:38:44,173688,20000,AS,S
1,112.0,2011-10-01 00:38:44,173688,20000,AM,M
2,112.0,2011-10-01 00:39:37,173688,20000,AN,N
3,10862.0,2011-10-01 11:42:43,173688,20000,AA,A
4,10862.0,2011-10-01 11:45:09,173688,20000,OP,P

In [184]:
# Columns to exclude from checking
exclude_cols = ["status", 'event', 'sequence', 'time', 'event_label']  

# Identify columns to drop, excluding specified ones
columns_to_drop = [col for col in BPI12_dt.columns if col not in exclude_cols and BPI12_dt[col].nunique() == 1]

# Drop those columns
BPI12_dt.drop(columns=columns_to_drop, inplace=True)

In [185]:
BPI12_dt.head()

,org:resource,time,sequence,case:AMOUNT_REQ,event_label,event
0,112.0,2011-10-01 00:38:44,173688,20000,AS,S
1,112.0,2011-10-01 00:38:44,173688,20000,AM,M
2,112.0,2011-10-01 00:39:37,173688,20000,AN,N
3,10862.0,2011-10-01 11:42:43,173688,20000,AA,A
4,10862.0,2011-10-01 11:45:09,173688,20000,OP,P

In [186]:
def classify_and_rename(df, sequence_col, event_col, ex_col, unique_threshold = 10, manual_override = None):
    """
    Classifies attributes as sequence-level or event-level, detects categorical vs. numerical data, and renames columns.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - sequence_col (str): The column representing the sequence identifier.
    - event_col (str): The column representing the event identifier.
    - ex_col(list): The column representing the non atrribute columns.
    - unique_threshold (int, optional): Max unique values for numeric attributes to be considered categorical.
    - manual_override (list, optional): User-defined category overrides [col_name].

    Returns:
    - pd.DataFrame: DataFrame with renamed columns.
    - dict: Mapping of old column names to new ones.
    """

    # Exclude sequence & event columns from classification
    attribute_cols = [col for col in df.columns if col not in [sequence_col, event_col] + ex_col]

    sequence_level, event_level = [], []

    # Identify Sequence-Level vs. Event-Level
    for col in attribute_cols:
        if df.groupby(sequence_col)[col].nunique().max() == 1:
            sequence_level.append(col)
        else:
            event_level.append(col)

    def detect_categorical(columns):
        categorical, numerical = [], []
        for col in columns:
            if df[col].dtype == "object":
                categorical.append(col)
            elif df[col].dtype in ["int64", "float64", 'int32','float32']:
                if df[col].nunique() <= unique_threshold:
                    categorical.append(col)
                else:
                    numerical.append(col)
        return categorical, numerical

    # Auto-Detect Categorical vs. Numerical
    sequence_categorical, sequence_numerical = detect_categorical(sequence_level)
    event_categorical, event_numerical = detect_categorical(event_level)

    # Manual Override (if provided)
    if manual_override:
        for col in manual_override:
            if col in sequence_numerical:
                sequence_categorical.append(col)
                sequence_numerical.remove(col) 
            elif col in event_numerical:
                event_categorical.append(col)
                event_numerical.remove(col)
                
    print("Sequence-level attributes:", sequence_level)
    print("Event-level attributes:", event_level)

    # Step 4: Rename Columns
    new_column_names = {}

    for i, col in enumerate(sequence_categorical, start=1):
        new_column_names[col] = f"sc{i}"
    for i, col in enumerate(sequence_numerical, start=1):
        new_column_names[col] = f"sn{i}"
    for i, col in enumerate(event_categorical, start=1):
        new_column_names[col] = f"ec{i}"
    for i, col in enumerate(event_numerical, start=1):
        new_column_names[col] = f"en{i}"

    # Apply renaming
    df.rename(columns=new_column_names, inplace=True)

    return df, new_column_names

In [187]:
df, renamed_columns = classify_and_rename(BPI12_dt, 
                                          sequence_col = "sequence", 
                                          event_col = "event", 
                                          ex_col = ['event_label', 'status', 'time'] #, 
                                          #manual_override = ['case:variant-index']
                                         )

print("Renamed Columns:", renamed_columns)

Sequence-level attributes: ['case:AMOUNT_REQ']
Event-level attributes: ['org:resource']
Renamed Columns: {'case:AMOUNT_REQ': 'sn1', 'org:resource': 'ec1'}

In [188]:
BPI12_dt.to_csv("D:/Research in UAE/nextevent/output/BPI12c.csv", index = False)

In [189]:
BPI12a = BPI12_dt.loc[BPI12_dt['event_label'].str.startswith('A')].copy()
BPI12o = BPI12_dt.loc[BPI12_dt['event_label'].str.startswith('O')].copy()
BPI12w = BPI12_dt.loc[BPI12_dt['event_label'].str.startswith('W')].copy()

In [190]:
BPI12a.to_csv("D:/Research in UAE/nextevent/output/BPI12ac.csv", index = False)
BPI12o.to_csv("D:/Research in UAE/nextevent/output/BPI12oc.csv", index = False)
BPI12w.to_csv("D:/Research in UAE/nextevent/output/BPI12wc.csv", index = False)

In [103]:
# mapping dictionaries BPI12 dataset
activity_mapping = {
    'A_ACCEPTED': "AA", 
    'A_ACTIVATED': "AB", 
    'A_APPROVED': "AC", 
    'A_CANCELLED': "AD",
    'A_DECLINED' : "AE", 
    'A_FINALIZED' : "AF", 
    'A_PARTLYSUBMITTED' :"AG", 
    'A_PREACCEPTED': "AH",
    'A_REGISTERED': "AI", 
    'A_SUBMITTED': "AJ", 
    'O_ACCEPTED': "OA", 
    'O_CANCELLED': "OB",
    'O_CREATED': "OC", 
    'O_DECLINED': "OD", 
    'O_SELECTED': "OE", 
    'O_SENT': "OF", 
    'O_SENT_BACK':"OG",
    'W_Afhandelen leads': "WA", 
    'W_Beoordelen fraude': "WB",
    'W_Completeren aanvraag':"WC", 
    'W_Nabellen incomplete dossiers': "WD",
    'W_Nabellen offertes': "WE", 
    'W_Valideren aanvraag': "WF",
    'W_Wijzigen contractgegevens': "WG"
    }